.body {
    background-image: url("images/4853433.jpg");
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 1;
}
.words-container {
    font-family: 'Tilt Neon', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.calc-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    justify-content: center;
    width: 206px;
    border: 5px solid;
    border-color: rgb(82, 86, 111);
    border-radius: 5px;
    margin-bottom: 30px;

}

.display-container {
    display: flex;
    justify-content: right;
    padding-top: 20px;
    padding-right: 25px;
    background-color: rgb(183, 221, 232);
    height: 45px;
    width: 216px;
}

.display {
    font-family: 'Stick No Bills', sans-serif;;
    display: flex;
    justify-content: right;
    max-width: 161px;
    font-size: 20px;
    overflow: hidden;
    background-color: rgb(183, 221, 232);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    border-top: 3px solid;
    border-color: rgb(121, 126, 160);
    max-width: 200px;
    min-width: 200px;
    background-color: rgb(186, 186, 186);
    padding: 3px;
}

.number-button, .decimal-button, .delete-button, .operator-button {
    flex-grow: 0;
    height: 50px;
    width: 50px;
    border-color: rgb(121, 126, 160);
    border-radius: 5px;
    /* margin: 0 10px;
    padding: 10px; */
}

.number-container {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 100px;
}

.clear-button {
    width: 50px;
    height: 100px;
    border-radius: 5px;
    
}

.enter-button {
    width: 100px;
    border-radius: 5px;
}

.footer {
    font-family: 'Tilt Neon', cursive;
    display: flex;
    justify-content: center;
}