.body {
    background-image: url("images/4853433.jpg");
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 1;
}
.words-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.calc-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    justify-content: center;
    width: 400px;
    border: 7px solid;
    border-color: black;
    border-radius: 7px;

}

.display {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    height: 50px;
    width: 156px;
    background-color: rgb(205, 239, 131)
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    border-top: 3px solid;
    border-color: black;
    max-width: 200px;
    min-width: 200px;
    background-color: rgb(186, 186, 186);
    padding: 3px;
}

.number-button, .decimal-button, .delete-button, .operator-button {
    flex-grow: 0;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    /* margin: 0 10px;
    padding: 10px; */
}

.number-container {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 100px;
}

.clear-button {
    width: 50px;
    height: 100px;
    border-radius: 5px;
    
}

.enter-button {
    width: 100px;
    border-radius: 5px;
}

